/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #343541;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #D9D9D9;
  --incoming-chat-border: #D9D9D3;
  --input-bg: #EDEDED;
}

body {
  background: var(--outgoing-chat-bg);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent body overflow */
}

/* Chats container styling */
.chat-container {
  flex: 1; /* Fill available space above input field */
  overflow-y: auto; /* Allow vertical scrolling */
  padding-bottom: 15px;
}

.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.chat-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Typing container */
.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%; /* Prevent overflow */
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
  background: var(--outgoing-chat-bg);
  border-top: 1px solid var(--incoming-chat-border);
  z-index: 1000;
}

.typing-container .typing-textarea {
  flex: 1; /* Fill remaining space */
  display: flex;
  align-items: center;
  max-width: calc(100% - 60px); /* Adjust for Send button width */
}

.typing-textarea textarea {
  flex: 1;
  height: 50px;
  padding: 10px 15px;
  border: none;
  background: var(--input-bg);
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none; /* Prevent manual resizing */
  max-width: 100%; /* Prevent overflow */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}

.typing-textarea span#send-button {
  flex-shrink: 0;
  width: 55px;
  height: 50px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--icon-hover-bg);
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
